*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;;
}

  body{
    background-color: lightseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  form {
    width: 500px;

    border:2px solid rgb(30, 150, 144);
    background-color: white;
    margin: 10px auto;
    padding: 30px;
    border-radius: 15px;
    text-align: center;

  }
  p {
  font-size: 16px;
  margin-bottom: 10px;
  }

  input{
    border: 1px solid #cccccc;
  }
  input[type="button"]{
    color: lightyellow;
    background: lightseagreen;
    padding: 4px;
    margin: 10px 0px;
    font-size: 12px;
  }
  input:focus{
    border: 1px solid lightseagreen;
    outline: none;
  }
  form h1{
    margin-bottom: 10px;
  }

  input:hover{
    border: 2px solid lightseagreen;
    border-radius: 5px;
    opacity: .8;
  }

  #nombres,#apellidos{
    padding: 4px;
   width: 200px;
   /* margin-left: 10px; */
   }
  #email,#contraseña{
    padding: 4px;
    width: 405px;
   }


  input[type="email"],input[type="password"]{
    width: 80%;

  }


  input[type="submit"]{
    width: 50%;
    padding: 5px;
    background: lightseagreen ;
    color: #ffffff;
  }

  h1,p{
    color:lightseagreen ;
  }



