body{
  background: url(../img/103423-logotipo-iconos-pac-man-video-juegos.gif)  no-repeat;
}
.fan1 {
  background: rgb(216,191,216);
;
  color : #fff;
  padding: .2rem .3rem 1rem .3rem;
  position: absolute;
  border-radius: 2rem 2rem 0 0;
  animation: animar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin-left: .4rem;
}

.fan2 {
  background:rgb(255,140,0);
  color : #fff;
  padding: .2rem .3rem 1rem .3rem;
  position: absolute;
  border-radius: 2rem 2rem 0 0;
  animation: animar2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin-left: .4rem;
}

.fan3 {
  background: rgb(255, 0, 0);
  color : #fff;
  padding: .2rem .3rem 1rem .3rem;
  position: absolute;
  border-radius: 2rem 2rem 0 0;
  animation: animar3;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin-left: .4rem;
}
.fan4 {
  background: rgb(0, 255, 255);
  color : #fff;
  padding: .2rem .3rem 1rem .3rem;
  position: absolute;
  border-radius: 2rem 2rem 0 0;
  animation: animar4;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  margin-left: .4rem;
}
.pacman {
  width: 0px;
  height: 0px;
  /* background: rgba(255, 255, 0, 0); */
  margin-left: 20px;
  margin-top: 10px;
   position: absolute;
  border-radius: 50%;
  border-left: 15px solid  yellow;
  border-top: 15px solid yellow;
  border-right: 15px solid  rgba(255, 255, 255, 0);
  border-bottom: 15px solid  yellow;
   animation: animarP;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


@keyframes animar{
  0%{
    left :0;
    top : 0;
  }
  10% {
    left : 7rem;
    top : 0rem;
    color: rgba(255, 0, 255, 0.171);;
  }
  20% {
    top : 6rem;
    left : 7rem;
    color: #fff;
  }

  30% {
    left : 28rem;
    top : 6rem;
    color: rgba(255, 0, 255, 0.171);
  }

   40% {
    left :28rem;
    top : 11rem;
    color: #fff;
  }

  50% {
    left : 22rem;
    top : 11rem;
    color: rgba(255, 0, 255, 0.171);;
  }

  60% {
    left : 22rem;
    top : 26rem;
    color: #fff;
  }
   70% {
    left : 16rem;
    top : 26rem;
    color: rgba(255, 0, 255, 0.171);;
  }
   75% {
    left : 16rem;
    top : 30rem;
    color: #fff;
  }
   80% {
    left : 10rem;
    top : 30rem;
    color: rgba(255, 0, 255, 0.171);;
  }

  85% {
    left : 10rem;
    top : 34rem;
    color: #fff;
  }
  90% {
    left : 12rem;
    top : 34rem;
    color: rgba(255, 0, 255, 0.171);;
  }
  95% {
    left : 12rem;
    top : 37rem;
    color: #fff;
  }

  100% {
   left : 0;
    top : 37rem;
  }
}

@keyframes animar2{
  0%{
    left :28rem;
    top : 1rem;
  }
  10% {
    left : 28rem;
    top : 6rem;
    color: rgba(255, 102, 0, 0.76);
  }
   20% {
    top : 6rem;
    left : 22rem;
    color: #fff;
  }

  30% {
     top : 26rem;
    left : 22rem;
    color: rgba(255, 102, 0, 0.76);
  }
   40% {
     top : 26rem;
    left : 16rem;
    color: #fff(138, 138, 219);
  }
   50% {
     top : 29rem;
    left : 16rem;
    color: rgba(255, 102, 0, 0.76);
  }
   60% {
     top : 29rem;
    left : 7rem;
    color: #fff(138, 138, 219);
  }
  70% {
     top : 34rem;
    left : 7rem;
    color: rgba(255, 102, 0, 0.76);
  }
   80% {
     top : 34rem;
    left : 0rem;
    color: #fff;
  }

   100% {
    left : 0rem;
    top : 36rem;
    color: rgba(255, 102, 0, 0.76);
  }



}

@keyframes animar3{
   0% {
    left : 0rem;
    top : 36rem;
    color: rgb(219, 138, 138);
  }

   10% {
     top : 34rem;
    left : 0rem;
    color: #fff;
  }
   20% {
     top : 34rem;
    left : 7rem;
     color: rgb(219, 138, 138);
  }
   30% {
     top : 29rem;
    left : 7rem;
    color: #fff;
  }
  40% {
     top : 29rem;
    left : 16rem;
     color: rgb(219, 138, 138);
  }
   50% {
     top : 26rem;
    left : 16rem;
    color: #fff;
  }
  60% {
     top : 26rem;
    left : 22rem;
     color: rgb(219, 138, 138);
  }

  70% {
    top : 6rem;
    left : 22rem;
    color: #fff;
  }
  80% {
    left : 28rem;
    top : 6rem;
     color: rgb(219, 138, 138);
  }

  90%{
    left :28rem;
    top : 1rem;
    color: #fff;
  }

  100%{
    left :28rem;
    top : 1rem;
     color: rgb(219, 138, 138);
  }



}

@keyframes animar4{

  0% {
   left : 0;
    top : 37rem;
     color: rgba(255, 217, 0, 0.349);
  }
   5% {
    left : 12rem;
    top : 37rem;
    color: #fff;
  }
  10% {
    left : 12rem;
    top : 34rem;
    color: rgba(255, 217, 0, 0.349);
  }

  20% {
    left : 10rem;
    top : 34rem;
    color: #fff;
  }
   25% {
    left : 10rem;
    top : 30rem;
    color: rgba(255, 217, 0, 0.349);
  }
  30% {
    left : 16rem;
    top : 30rem;
    color: #fff;
  }
  35% {
    left : 16rem;
    top : 26rem;
    color: rgba(255, 217, 0, 0.349);
  }

  40% {
    left : 22rem;
    top : 26rem;
    color: #fff;
  }

  50% {
    left : 22rem;
    top : 11rem;
    color: rgba(255, 217, 0, 0.349);
  }
   60% {
    left :28rem;
    top : 11rem;
    color: #fff;
  }

  70% {
    left : 28rem;
    top : 6rem;
    color: rgba(255, 217, 0, 0.349);
  }
   80% {
    top : 6rem;
    left : 7rem;
    color: #fff;
  }
  90% {
    left : 7rem;
    top : 0rem;
    color: rgba(255, 217, 0, 0.349);
  }
  100%{
    left :0;
    top : 0;
  }

}

@keyframes animarP{
  0%{
    left :0;
    top : 0;
  }
  10% {
    left : 12rem;
    top : 0rem;
  }
  20% {
    top : 6rem;
    left : 12rem;
    border-left: 15px solid  yellow;
    border-top: 15px solid yellow;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid rgba(255, 255, 0, 0) ;
  }

  30% {
    left : 15rem;
    top : 6rem;
    border-left: 15px solid  yellow;
    border-top: 15px solid rgba(255, 255, 0, 0) ;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid yellow;
  }

   40% {
    left :15rem;
    top : 0rem;
  }

  50% {
    left : 21rem;
    top : 0rem;
     border-left: 15px solid  yellow;
    border-top: 15px solid  yellow;
    border-right: 15px solid  rgba(255, 255, 0, 0) ;;
    border-bottom: 15px solid yellow;
  }

  60% {
    left : 21rem;
    top : 11rem;
     border-left: 15px solid  yellow;
    border-top: 15px solid  yellow;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid rgba(255, 255, 0, 0) ;
  }
   70% {
    left : 27rem;
    top : 11rem;
    border-left: 15px solid  yellow;
    border-top: 15px solid  yellow;
    border-right: 15px solid  rgba(255, 255, 0, 0) ;
    border-bottom: 15px solid yellow;
  }
   75% {
    left : 27rem;
    top : 0rem;
     border-left: 15px solid  yellow;
    border-top: 15px solid  rgba(255, 255, 0, 0) ;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid yellow;
  }
   80% {
    left : 22rem;
    top : 0rem;
    border-left: 15px solid  rgba(255, 255, 0, 0) ;
    border-top: 15px solid  yellow;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid yellow;
  }

  85% {
    left : 22rem;
    top : 34rem;
     border-left: 15px solid  yellow;
    border-top: 15px solid  yellow;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid rgba(255, 255, 0, 0) ;
  }
  90% {
    left : 27rem;
    top : 34rem;
    border-left: 15px solid  yellow;
    border-top: 15px solid  yellow;
    border-right: 15px solid  rgba(255, 255, 0, 0) ;
    border-bottom: 15px solid yellow;
  }
  95% {
    left : 27rem;
    top : 37rem;
    color: #fff;
  }

  100% {
   left : 0;
    top : 37rem;
     border-left: 15px solid  rgba(255, 255, 0, 0) ;
    border-top: 15px solid  yellow;
    border-right: 15px solid  yellow;
    border-bottom: 15px solid yellow;
  }
}
