*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 font-family: 'Poppins', sans-serif;
}
.grid{
  display: grid;
  grid-template-areas:"lateral-izquierdo contenido" "pie pie";
  grid-template-columns: 0.6fr 2fr;

  /* grid-template-rows:  auto; */
  /* grid-template-rows:  100px 100px 300px; */
}
.lateral-izquierdo{
  grid-area: lateral-izquierdo;
  background: #001f54;
}
.contenido {
  grid-area: contenido;
  background: #fff;
}
.pie{
  grid-area: pie;
}
.grid-anidado-izquierdo{
  display: grid;
  /* grid-template-areas:"lateral-izquierdo lateral-derecho" "pie pie"; */
  grid-template-areas:"perfil-foto" "contacto" "educacion" "idiomas";
  grid-template-columns: 100%;
  grid-template-rows:  auto;
}

.grid-anidado-derecho{
  display: grid;
  /* grid-template-areas:"lateral-izquierdo lateral-derecho" "pie pie"; */
  grid-template-areas:"perfil" "experiencia" "habilidades" "intereses" "otros-cursos";
  grid-template-columns: 100%;
  grid-template-rows:  auto;
}

/* .grid section{
  border: 1px solid red;
} */

.perfil-foto {
grid-area: perfil-foto;
padding: 10% 0;
text-align: center;
background: #001f54;
color: #fff;
}
.perfil-foto span{
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.perfil-foto .foto img{
  width: 60%;
  border-radius: 50%;
}

.contacto {
grid-area: contacto;
padding: 20px;
background: #001f54;
color: #fff;
}

.contacto ul{
padding-left: 5px;
line-height: 27px;
list-style: none;
}
.contacto ul li span i{
background: #001f54;
}



.educacion {
grid-area: educacion;
padding: 20px;
background: #001f54;
color: #fff;
}


.educacion .fecha-educacion td{
  color: #1282a2;
  font-weight: bold;
}
.educacion .carrera td{
  font-weight: 550;
}

.idiomas{
  grid-area: idiomas;
  padding: 20px;
  background: #001f54;
  color: #fff;
}

.idiomas .idioma-title td{
  color: #1282a2;
  font-weight: bold;
  font-size: 16px;
}
.idiomas .idioma td{
  font-size: 16px;
  font-weight: 550;
}


.perfil{
  grid-area: perfil;
  padding: 20px;
}
.perfil h2,.experiencia h2,.habilidades h2,.intereses h2,.otros-cursos h2{
  color: #001f54;
}
.perfil p{
  margin-top: 20px;
  text-align: justify;
  line-height: 27px;
}

.experiencia{
  grid-area: experiencia;
}
.experiencia h2{
  padding: 20px 0px 0px 20px;
}
.experiencia table{
  text-align: center;
  padding: 20px;
}
.experiencia table tr{
   color: #001f54;
  font-size: 18px;
}
.experiencia table td,.experiencia table td th{
  padding: 10px 20px;
}

.otros-cursos{
  grid-area: otros-cursos;
}
.otros-cursos h2{
  padding: 20px 0px 0px 20px;
}
.otros-cursos table{
  text-align: center;
  padding: 20px;
}
.otros-cursos table tr{
   font-size: 18px;
   color: #001f54;
}
.otros-cursos table td,.otros-cursos table td th{
  padding: 10px 20px;
}


.experiencia td,.experiencia th{
   border: 1px solid rgba(0, 0, 0,.2);

}

.experiencia table,.experiencia td,.experiencia th,
  .otros-cursos table,.otros-cursos td,.otros-cursos th{
   border: 1px solid rgba(0, 0, 0,.2);

}

.experiencia table,.otros-cursos table{
  border-collapse: collapse ;/*Unifica bordes*/
  width: 900px;
   margin: 10px 20px;

  text-align: center;
}

  .experiencia td, .experiencia th,
  .otros-cursos td, .otros-cursos th{
  padding: 10px 20px;
  font-size: 14px;
}
 .experiencia tr:hover , .otros-cursos tr:hover{
    background: #cccccc ;
  }

  .experiencia th,.otros-cursos th {
  background: #001f54 ;
  font-weight: lighter;
  color: #fff;
}



.habilidades h2{
  padding: 20px 0px 0px 20px;
}

.habilidades ul{
  margin-top: 10px;
  list-style: none;
  line-height: 27px;
  padding: 0px 20px 20px 20px;
   font-size: 18px;
}

.habilidades ul li b{
  color: #001f54;
}
.habilidades ul li i{
  color: #001f54;
}

.intereses h2{
  padding: 20px 0px 0px 20px;
}

.intereses ul li{
  margin-top: 10px;
  list-style: none;
  display: inline-block;
  padding: 0px 20px 20px 20px;

}

.intereses ul li i{
 color: #001f54;

}

.pie{
  background: #000;
  grid-area: pie;
  color: #fff;
  text-align: center;
  padding: 10px;

}



/* .lateral-izquierdo{
  grid-area: lateral-izquierdo;
  background: brown;
}
.lateral-derecho{
  grid-area: lateral-derecho;
  background: dodgerblue;
} */