*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
 font-family: sans-serif; ;
}
.contenedor{
/* height: 300px; */
  margin: 10px auto;
  background: cadetblue;
  padding: 10px;
  width: 400px;

}
span{
  width: 100px;
  display: block;
  float: left;
  padding-left: 4px;
}

.nom{
  background: darkgray;
}
.titu{
  background: darkkhaki;
}

li{
  list-style: none;
  margin-top: 10px;
}

ul{
  margin: 0;
  padding-left: 0px;
}