*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.promociones .carousel-caption {
text-align: right;
/* background: rebeccapurple; */
}

.promociones .carousel-control-prev-icon {
  background-image:url("../img/circle_chevron_left.svg");




}
.promociones .carousel-control-next-icon { background-image:url("../img/circle_chevron_left-1.svg")}
.btn-conoce{
background: #000;
border: none;
padding: 5px 20px;
color: #fff;
text-decoration: none;


}

.btn-conoce:hover{
background: #6C1A1A;
color: #fff;

}
.descripcion{
   display: flex;
   width: 80%;
  margin: auto;
  /* justify-content: center; */
}

.descripcion-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */
}

.descripcion hr{
  margin: auto;
  width: 400px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}

.descripcion img{
  width: 30%;
}
.contenedor-des p{
margin-top: 15px;
font-size: 18px;
line-height: 27px;

}

/* .contenedor-des {
background: rosybrown;

} */



.contenedor-des p{
text-align: center;
/* background: rebeccapurple; */
padding: 0px 0px ;

}

.contenedor-des {
text-align: right;
margin-right: 100px;
/* padding: 50px; */
/* background: rebeccapurple; */
/* padding: 0px 80px ; */
}

.btn-saber{
background: #6C1A1A;
border: none;
padding: 5px 20px;
color: #fff;
text-decoration: none;
}

.btn-saber:hover{
background: #000;
color: #fff;

}
.productos-item {
  /* width: 90%; */
  /* margin: auto; */
  padding: 0px 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* margin: auto; */
  /* background: rebeccapurple; */
}
.col-4 .center{
  /* background: #6C1A1A; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* justify-content: space-between; */
}
.col-4 {
  /* background: #6C1A1A; */

  /* justify-content: space-between; */
}
.productos-item .row .col img{
  width: 0%;
}

.productos-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */

}
.productos hr{
  margin: auto;
  width: 300px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}
.promocion-indicadores [data-bs-target]{
   border-radius: 50%;
   /* width: 1%;
   height: 1%; */
   width: 10px;
   height: 10px;
   border-bottom: 0;
   border-top: 0;
  /* width: 15px; */
  /* height: 10px; */
  background: #6C1A1A;

}

.productos .carousel-control-prev-icon {
  background-image:url("../img/chevron_big_left.svg");

}
.productos .carousel-control-next-icon { background-image:url("../img/chevron_big_right.svg")}

/* .servicios,.productos,.descripcion{
  margin-top:60px;
} */

.servicios-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */

}
.servicios hr{
  margin: auto;
  width: 300px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}

.servicios .carousel-control-prev-icon {
  background-image:url("../img/chevron_big_left.svg");

}
.servicios .carousel-control-next-icon { background-image:url("../img/chevron_big_right.svg")}

/* .servicios,.productos,.descripcion{
  margin-top:60px;
} */

.descripcion-serv h3{
  color: #6C1A1A;
  /* font-weight: bold; */
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */
}

.descripcion-serv p{
text-align: center;
/* background: rebeccapurple; */
padding: 10px 100px ;

}


.proveedores-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */

}
.proveedores hr{
  margin: auto;
  width: 300px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}


.blog-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */

}
.blog hr{
  margin: auto;
  width: 50px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}

.col-6 .contenedor-caja {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* background-color: rosybrown; */
}


.col-6 .contenedor-caja .carta{
border-radius: 8px;
box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
overflow: hidden;
text-align: center;
/* height: 500px; */
transition: all 0.25s;
transform: translateY(0px);

/* background: red; */
}


.col-6 .contenedor-caja .carta h4{
color: #6C1A1A;
font-weight: bold;
font-size: 20px;
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
/* background: red; */
}
.col-6 .contenedor-caja .carta h5{
font-weight: bold;

/* background: red; */
}


.col-6 .contenedor-caja .carta:hover{
transform: translateY(-15px);

  box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
}

.col-6 .contenedor-caja img{
  width: 100%;

  /* background-color: rosybrown; */
}


.col-6 .contenedor-caja .btn-leermas{
  width: 25%;
  margin: auto;
  text-decoration: none;
  display: block;
  background: #6C1A1A;
  padding: 5px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
}
.col-6 .contenedor-caja .btn-leermas:hover{

  background: #000;

}

.blog .carousel-control-prev-icon {
  background-image:url("../img/chevron_big_left.svg");

}
.blog .carousel-control-next-icon { background-image:url("../img/chevron_big_right.svg")}


.blog-item {
  /* width: 90%; */
  /* margin: auto; */
  padding: 0px 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* margin: auto; */
  /* background: rebeccapurple; */
}

.col-6 .contenedor-caja .btn-etiqueta{
  margin: 10px;
  text-decoration: none;
  background: #6C1A1A;
   right: 0;
  padding: 5px;
  color: #fff;
  border-radius: 8px;
  position: absolute;

}

.col-6 .contenedor-caja .btn-fecha{
  /* width: 25%; */
  margin: auto;
  margin: 10px;
  z-index: 1;

  text-decoration: none;
  /* display: block; */
  background: #6C1A1A;
  padding: 5px;
  color: #fff;
  /* margin-bottom: 10px; */
  border-radius: 8px;
  position: absolute;
}
