*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.carousel-caption {
text-align: right;
/* background: rebeccapurple; */
}

.btn-conoce{
background: #000;
border: none;
padding: 5px 20px;
color: #fff;
text-decoration: none;


}

.btn-conoce:hover{
background: #6C1A1A;
color: #fff;

}
.descripcion{
   display: flex;
   width: 80%;
  margin: auto;
  /* justify-content: center; */
}

.descripcion-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */
}

.descripcion hr{
  margin: auto;
  width: 400px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}

.descripcion img{
  width: 30%;
}
.contenedor-des p{
margin-top: 15px;
font-size: 18px;
line-height: 27px;

}

/* .contenedor-des {
background: rosybrown;

} */



.contenedor-des p{
text-align: center;
/* background: rebeccapurple; */
padding: 0px 0px ;

}

.contenedor-des {
text-align: right;
margin-right: 100px;
/* padding: 50px; */
/* background: rebeccapurple; */
/* padding: 0px 80px ; */
}

.btn-saber{
background: #6C1A1A;
border: none;
padding: 5px 20px;
color: #fff;
text-decoration: none;


}

.btn-saber:hover{
background: #000;
color: #fff;

}
.productos-item {
  /* width: 90%; */
  /* margin: auto; */
  padding: 0px 200px;
  margin-top: 20px;
  margin-bottom: 30px;
  /* margin: auto; */
  /* background: rebeccapurple; */
}
.col-4 .center{
  /* background: #6C1A1A; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* justify-content: space-between; */
}
.col-4 {
  /* background: #6C1A1A; */

  /* justify-content: space-between; */
}
.productos-item .row .col img{
  width: 0%;
}

.productos-titulo{
  color: #6C1A1A;
  font-weight: bold;
   text-align: center;
  /* margin-bottom: 10px;

  /* border-bottom: 5px #6C1A1A solid; * */

}
.productos hr{
  margin: auto;
  width: 300px;
  opacity: 1;
  background: #6C1A1A;
  height: 5px;
}
.productos-indicadores [data-bs-target]{
   border-radius: 50%;
   /* width: 1%;
   height: 1%; */
   width: 10px;
   height: 10px;
   border-bottom: 0;
   border-top: 0;
  /* width: 15px; */
  /* height: 10px; */
  background: #6C1A1A;

}

.productos .carousel-control-prev-icon {
  background-image:url("../img/chevron_big_left.svg");

}
.productos .carousel-control-next-icon { background-image:url("../img/chevron_big_right.svg")}

